@media (max-width:767px) {
    .event{
        animation : sub_event_move 1s ease forwards;
    }
    
    
    
    
    
    
    .event .inner_contents{
        padding-top:50px;
        padding-bottom:50px;
    }
    
    .event>.inner_contents>ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-bottom:100px;
    }
    .event>.inner_contents>ul>li{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        cursor: pointer;
    
    
    }
    
    .event>.inner_contents>ul>li>p{
        background: #EDEEEE;
        text-align: center;
        width: 100%;
        padding: 10px 8px;
        font-size: 16px;
    }
    
    
    .event>.inner_contents>ul>li:last-of-type>p{
        margin-right: 0;
    }
    
    
    
    
    
    .event>.inner_contents>ul>li.on>p{
        background: #005C35;
        color:#fff;
    }
    
    
    .event_ul{
        display: flex;
        flex-wrap: wrap;
    }
    .event_ul>li{
        display: flex;
        width: 50%;
        margin-right: auto;
        justify-content: center;
        margin-bottom: 60px;;
    }
    .event_ul>li:nth-of-type(3n){
        margin-right:0;
    }
    .event_ul>li img{
        width: 100%;
    }
    .event_ul h1{
        width: 100%;
    }
    .more{
        width: 180px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:calc(50% - 21px);
        left:calc(50% - 90px);
        background: rgba(248, 248, 248, 0.9);
        border-radius: 40px;
        opacity: 0;
        transition: all 0.5s ease 0s;
        z-index: 1;

        display: none;
    }


    
    .event_div{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 85%;
        border:0.5px solid rgba(68, 68, 68, 0.14);
         overflow: hidden;
         justify-content: space-between
    }

    .event_div h2{
        font-size: 18px;
        margin-top: 11px;
        margin-bottom: 20px;
        font-size: 15px;
        /* margin-top: 11px;*/
        display: -webkit-box;        /* Flexbox를 기반으로 한 블록 요소로 설정 */
    -webkit-box-orient: vertical; /* 블록 요소를 수직 방향으로 정렬 */
    -webkit-line-clamp: 2;        /* 표시할 줄 수를 설정 (2줄) */
    overflow: hidden;             /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;      /* 말줄임표를 사용 */

        width: 92%;
        text-align: center;
        font-weight: 500;
    }
    .event_div p{
        font-size: 10px;
        color:rgba(0, 0, 0, 0.7);
        color:rgba(0, 0, 0, 0.7);
        margin-bottom: 10px; 
    }


    .event_list{
        height: 567px;
    }
    .event_list {
        overflow: hidden;
        transition: all 0.7s ease-out 0s;
        padding-bottom: 50px;
        position: relative;
        box-sizing: content-box;
    }


    
    
    
    
    
    
    
    .show_more{
        cursor: pointer;
        margin-top:35px;
        width: 100%;
        border:0.5px solid rgba(68, 68, 68, 0.14);
        text-align: center;
        padding:4.5% 0;
        color:rgba(0, 0, 0, 0.7)
    }
    .show_more#mobile_show_btn{
        position: absolute;
        background: #fff;
        left: 0;
        bottom: 0;
    }


    #pc{
        display: none;
    }
}
