@media (min-width:1024px) {
    
.navigation_sec.top{
    color:black;
    background: #f4f4f4ba;;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.navigation_sec.top .logo>a{
background: url(../img/logo_black.png) no-repeat 50% 50% /contain;
}

.navigation_sec.top:hover .logo>a{
background: url(../img/logo_white.png) no-repeat 50% 50% /contain;
}
.navigation_sec.top:hover{
color:white;
}
.navigation_sec.top:hover {
background: rgba(0, 73, 43, 0.95);
height: 330px;
color: #fff;
}




body.scroll{
    height:100%;
    overflow:hidden
}

    

/* 제품안내 메뉴 */

.food_menu{
    animation: food_menu_animation 1s ease 0.1s forwards;
}
.food_menu{
    opacity: 0;
}

@keyframes food_menu_animation{
    0%{opacity: 0;
    transform: translateY(50px);}
    100%{opacity: 1;
    transform: translateY(0);}
    
}
.food_menu .inner_contents {
    padding-bottom: 150px;
}
.food_menu .inner_contents>p{
    width: 100%;
    text-align: right;
    color:rgba(0, 0, 0, 0.8);
    margin-bottom:20px
}
.food_menu_ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-weight: 500;
    margin-bottom: 100px;
    top:0;
    z-index: 100;
}
.food_menu_ul>li{
    flex:1;
    border:1px solid rgb(136, 136, 136);
    text-align: center;
    height: 50px;
    border-right: none;
    
}

.food_menu_ul>li:last-of-type{

    border-right:1px solid rgb(136, 136, 136);
}
.food_menu_ul>li.on>a{
    background: #005C35;
    color:#fff;
}
.food_menu_ul>li.on ul{
    height: 85px;
}
.food_menu_ul>li ul>li.on>a{
    color:#000;
}
.food_menu_ul>li:hover>a{
    background:#005C35 ;
    color:#fff;
}

.food_menu_ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    margin-bottom: 1px;
    background: #fff;
}
.food_menu_ul>li ul{
    text-align: center;
    top:auto;
    left:0;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 0px;
    background: #fff;;
    overflow: hidden;
}

.food_menu_ul>li:hover ul{
    height:85px;
    z-index: 1;
}

.food_menu_ul>li ul>li{
    width: 100%;
    height: 100%;;
}
.food_menu br{
    display: none;
}


.food_menu_ul>li ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    font-size: 20px;
}


.food_menu_ul>li ul>li>a:hover{
    color:#000;
}






/* 메뉴 리스트 */

.menu_wrap{
    position: relative;
    font-weight: 500;
}
.menu_wrap>div{
    /* position: absolute;
    top:0;
    left:0;
    opacity: 0;
    width: 100%;
    transition: all 0.5s ease 0s; */
}
.menu_wrap>div.on{
    opacity: 1;

}
.menu_wrap div.info{
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}

.menu_wrap>div>ul>li:hover>div{
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;

}

.menu_wrap>div>ul{
    display: flex;
    flex-wrap: wrap;
}
.menu_wrap>div>ul>li{
    /* border: 1px solid black; */
    width: 23.75%;
    margin-right: 20px;
    height: 285px;
    margin-bottom:20px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.menu_wrap>div>ul>li:nth-of-type(4n){
    margin-right: 0;
}

.info p:last-of-type{
    width: 100%;
    font-size: 12px;
    margin-top:15px
}



.menu_wrap>div>ul>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgba(0, 0, 0, 0.8);
}


.menu_wrap>div>ul>li>a>img{
    width: 80%;
    object-fit: contain;
    height: 200px;
}







}