@media (min-width :1024px){


/* common */


header#mobile{
    display: none;
}




.btn{
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 280px;
    padding:8px 0;
}

.point{
    color:#005C35;
}

.foot_sec_bottom select{
    width: 200px;
    border: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px;
}
.foot_sec_bottom select option{
    color:#13131F;
    background: white;
}
.navigation_sec.top{
    color:white;
    background: none;
    border-bottom : none;
}
.navigation_sec.top .logo>a{
    background: url(../img/logo_white.png) no-repeat 50% 50% /contain;
}



.logo{
    padding-top: 24px;
    width: 215px;
    height: 11px;
    align-self: flex-start
}

.logo>a{
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 100%;
    display: flex;
    background: url(../img/logo_white.png) no-repeat 50% 50% /contain;
}

.sub_category{
    padding-top:180px;
}
.sub_category p{
    font-weight: 500;
    font-size: 25px;
}
.inner_contents{
    width: 1200px;
    margin:0 auto;
}
.banner_sec{
    margin-top: 0;
}

.navigation_sec>.inner_contents{
    padding-top: 15px;
    display: flex;
}

.navigation_sec{
    background:rgba(255, 255, 255, 0);
    color:#fff;
    height: 100px;
    position: fixed;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
    z-index: 10000;
    display: flex;
    background: rgba(0, 73, 43, 0.9);
}
.navigation_sec.hide{
    height:0px
}
.navigation_sec:hover{
    background:rgba(0, 73, 43, 0.95);
    height: 330px;
    color:#fff;
}
.navigation_sec:hover .logo>a{
    background: url(../img/logo_white.png) no-repeat 50% 50% /contain;
}




.nav_line {
    z-index: -1;
    opacity: 0;
    height:100px;
    top: 0;
    position: absolute;
    width: 100%;
    border-bottom: 1.5px solid white;
    transition: all 0.5s ease 0s;
}

.navigation_sec:hover .nav_line {
    opacity: 1;    
}

nav{
    margin-left:50px;
    width: 100%;
}
.logo>a{
    display: block;
    padding-top:23px;
}
nav>ul{
    text-align: center;
    font-size:20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
nav>ul>li{
    font-weight: 400;
}
nav>ul>li>a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;

}
nav>ul>li>ul>li>a:hover{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

nav>ul>li>ul{
    font-weight: 300;
    margin-top: 63px;
}

nav>ul>li>ul>li{
    margin:8px 0;
}



/* enter popup */


.enter_popup_modal{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    z-index: 50000;
    transition: all 1s ease 0s;
}



.enter_popup{
    width: 100%;
    height: 100%;
    position: fixed;
    color:#fff;
    z-index: 50001;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease 0s;
}


.enter_popup_txtframe{
    width: 850px;
    height: 450px;
    
}




.enter_popup_txtframe>span:nth-of-type(2n){
    display: inline-block;
    margin-bottom:50px
}

.enter_popup_txtframe>span:last-of-type{
    margin-bottom: 0;
}

.enter_popup_txtframe>b:nth-of-type(2n){
    display: inline-block;
    margin-bottom:50px
}

.enter_popup_txtframe>b:last-of-type{
    margin-bottom: 0;
}


.typing_cursor{
    opacity: 0;
}

.typing_cursor_1{
    animation: typing_flash 0.2s ease 4  ;
}


.typing_cursor_2{
    animation: typing_flash 0.2s ease 6  ;
    animation-delay: .77s;
}



.typing_cursor_3{
    animation: typing_flash 0.2s ease 5  ;
    animation-delay: 2.26s;
}

.typing_cursor_4{
    animation: typing_flash 0.2s ease 5  ;
    animation-delay: 3.16s;
}

.typing_cursor_5{
    animation: typing_flash 0.2s ease 3  ;
    animation-delay: 4.59s;
}

.typing_cursor_6{
    animation: typing_flash 0.2s ease 5  ;
    animation-delay: 5.5s;
}


.timer{
    opacity: 0;
    animation: timer_flash 1s ease 5;
        animation-delay: 7s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 50px;
    position: relative;
    margin-left: auto;
}

.timer.aninone {
    animation: none
}
.timer.reload {
    animation: timer_flash 1s ease infinite;
}


/* .timer.reload {
    animation: timer_flash 1s ease 5;
} */


.pause_play{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    animation: pause_play_ani 1s ease forwards;
    animation-delay: 7s;
    opacity: 0;
    position: relative;
}
.pause_play>a{
    position: absolute;
    top: 0%;
    left: 30%;
}
.play{
    display: none;
}



@keyframes typing_flash {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}

@keyframes timer_flash {
    0%, 100% { opacity: 1; }
  50% { opacity: 0.2; }
}

@keyframes pause_play_ani {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    }
}

.checking_area{
    display: flex;
    align-items: center;
    height: 50px;

}

label[for="checking_view"]{
    font-size: 20px;
    color: rgba(255, 255, 255);;
}

.checkbox{
    margin-right: 20px;
    display: flex;
    width: 24px;
    height: 25px;
    background: url(../img/uncheck.png) no-repeat 50% 50% / contain;
    position: relative;
}





.checkbox::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../img/checked.png) no-repeat 50% 50% / contain;
    display: inline-block;
    transform: scale(0);
}

input[type="checkbox"]:checked + .checkbox::after {
    transform:scale(1);
  }













/* .enter_popup_txtframe>p:nth-of-type(1){
    min-width: 50px;
    width: 448px;
    overflow: hidden;
    color:transparent
}


.enter_popup_txtframe>p:nth-of-type(1)::before{
    position: absolute;
    top:0;
    left:0;
    content: '현재 사이트는 실제 사이트가 아니며';
    color:#fff;
    border-right: 1px solid #fff;
    animation: typing_ani 3s steps(35) forwards;
    width: 0%;
    overflow: hidden;
}



@keyframes typing_ani {
    0%{width: 0%;}
    99%{
        border-
        right: 1px solid #fff;
    }
    100%{width: 100%;
    border-right:none;}
}
 */












.banner_video{
    width: 100%;
    height:100vh;
    object-fit: cover;
}

.black_cover{
    left:0;
    top:0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #0000006b;
}
.banner_txt{
    color:white;
    position: absolute;
    top:30%;
    left:18.75%;
    z-index: 2;
    
}
.banner_title{
    font-size:85px;
    font-weight: 600;
}
.banner_sub{
    font-size:35px;
    margin-top:50px;
}

.brandstory_sec{
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}

.banner_sec>.inner_contents{
    position: relative;
}
.brandstory_sec>.inner_contents{
    display: flex;
    justify-content: space-between;
    height:800px;
}

.brandstory_sec>.inner_contents>div>p{
    margin-top:70px;
    margin-bottom:30px;
}
.greenbg{
    top:50%;
    left:0;
    position: absolute;
    width: 100%;
    height:50%;
    background: #005C35 url("../img/longlogo.svg") no-repeat 100% 60%;
    background-attachment: fixed;
    z-index: -5;
}
.brandstory_sec>.inner_contents>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.brandstory_sec img{
    width: 30%;
    object-fit: contain;
}

.brandstory_sec .bigft{
    font-weight: 600;
}
.brandstory_sec .smallft{
    color:white;
}
.brandstory_sec .btn{
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border:1px solid white;
    border-radius: 50px;
    width: 280px;
    padding:8px 0;
    transition: all 0.5s ease 0s;
}

.brandstory_sec .btn:hover{
    color:#005C35;
    background: white;
}

.menu_sec{
    position: relative;
    background: rgba(238, 231, 218, 0.6);
    padding-top: 100px;
    padding-bottom:100px;
}
.wheatbg{
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height:35%;
    background: url("../img/longlogo.svg") no-repeat 100% 60%;
    background-attachment: fixed;
}
/* .menu_txt>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:600px;
}
.menu_txt{
    align-items: flex-end;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu_txt>ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.menu_txt .moveimg{
    flex: 0.8;
    width: 540px;
    object-fit: contain;
    /* animation: breadmove 3s linear 0s infinite; */
    cursor: pointer;

}



.menu_txt{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.menu_txt>ul{
    width: 100%;
    height: 540px;
    z-index: 0;
    position: relative;
}
.menu_txt>ul>li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease 0s;
    pointer-events: none;
}
.menu_txt>ul>li.on{
    opacity: 1;
    pointer-events: auto;
}

.menu_div{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:350px;
}

.menu_txt>p:nth-of-type(1){
    font-size: 20px;
    top: 75px;
    position: relative;
}
.menu_txt .bigft{
    color:#382C24;
    font-weight: 600;
}
.menu_txt .smallft{
    color:rgba(71, 56, 46, 0.75);
    font-weight: 400;
    font-size: 25px;
}


.pudding{
    align-self: flex-end;
    width: 400px;
}


.pizza{
    align-self: flex-end;
    width: 500px;
}


@keyframes breadmove {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(20deg);
    }
}




.menu_bar{
    margin-top:90px;
}
.menu_bar>ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #DEDACC;
    border-radius: 50px;
}

.menu_sec .btn{   
    color:#47382E;
    border:1px solid #47382E;
    transition: all 0.5s ease 0s;
    
}

.menu_sec .btn:hover{
    background: #47382E;
    color: #F5F1E9;
}

.menu_bar>ul>li>a{
    font-size:20px;
    font-weight: 600;
    color:#47382E;
    padding:10px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}


.menu_bar>ul>li>a:hover{
    background: #ffffff;
}

.menu_bar>ul>li>a.on{
    background: #ffffff;
}






.discount_sec .bigft{
    font-weight: 700;
}
.discount_sec .smallft{
    color:#828285;
    font-size:25px;
}

.discount_sec .btn{
    color:#000;
    border:1px solid #000;
    transition: all 0.3s ease 0s;
}
.discount_sec .btn:hover{
    background: #000;
    color:white;

}
.discount_sec .inner_contents{
    display: flex;
    justify-content: space-between;
    height:1000px;
    overflow: hidden;
    align-items: center;
}
.card_list{
    display: flex;
    width: 610px;
    justify-content: space-between;
    padding-right: 25px;
}

.card_list img:hover{
    transform: scale(105%);
    position: relative;
    z-index: 100;
}


.card_list img{
    position: relative;
    width: 300px;
    object-fit: contain;
    transition: all 0.3s ease-out 0s;
}




.card_ul1{
    position: relative;
    z-index: 0;
    animation: cardanimation 33s linear 0s infinite;
    width: 49.2%;
}

.card_ul2{
    position: relative;
    z-index: 0;
    animation: cardanimation2 33s linear 0s infinite;
    width: 49.2%;
}
.discount_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

@keyframes cardanimation {
        
    0%{transform: translateY(-37.3%);}
    100%{transform: translateY(29.5%);}

}

@keyframes cardanimation2 {
    0%{transform: translateY(37.6%);}
    100%{transform:translateY(-17.9%);}
}


.event_sec{
    position: relative;
    color: #fff;
    height:950px;
}
.event_bg{
    z-index: -5;
    position: absolute;
    background: url("../img/event_bg.png") no-repeat 50% 50% / cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
.event_div1{
    text-align: right;
    padding-top:250px
}
.event_sec .black_cover {
    z-index: -5;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background: rgba(0, 0, 0, 0.5);
}

.event_div1 .smallft{
    color:rgba(255, 255, 255, 0.8);
    margin-top:25px;
}
.event_div2{
    margin-top: 200px;
}

.event_div2>ul{
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.event_div2>ul>li{
    width: 280px;
    height: 100px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.event_div2>ul>li>a{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.event_div2>ul>li>a::before{
    left:-100%;
    top:-20px;
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    border-top: 2px solid white;
    transition: all 0.3s linear 0s;
}

.event_div2>ul>li>a:hover:before{
    left:0;
    top:-20px;
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    border-top: 2px solid white;

}

.event_div2>ul>li>a::after{
    content: '';
    display: inline-block;
    background: url("../img/right_arrow.svg") no-repeat 50% 50% / contain;
    width: 40px;
    height: 40px;
}

.franchise_sec .inner_contents{
    padding-top:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.franchise_div{
    height:460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.franchise_div>img{
    width: 475px;
    object-fit: contain;
}
.franchise_div .bigft{
    font-weight: 600;
    color:#13131F
}
.franchise_div .smallft{
    font-weight: 500;
    color:rgba(19, 19, 31, 0.8)
}
.franchise_div .btn{
    border: 1px solid #13131F;
    color: #13131F;
    transition: all 0.3s ease 0s;
}

.franchise_div .btn:hover{
    background: #000;
    color:white;
}

.news_sec{
    background: url("../img/BIG_NEWS.svg") no-repeat 50% 110%;
}
.news_sec .inner_contents{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 200px;
    position: relative;
}


.arrow{
    position: absolute;
    top:47%;
}
.left_arrow{
    left:-3%;
}
.right_arrow{
    right:-3%;
}
.news_station {
    height: 300px;
    overflow: hidden;
}
.newsTrain {
    transition: all 0.3s ease 0s !important;
    height: calc(700%/4);
    display: flex;
    flex-direction: column;
}
.newsTrain li{
    flex:1;
}
.news_div li{
    font-size: 25px;
    /* transition: all 0.3s ease 0s; */
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_div li:hover{
    text-decoration: underline;
}
.news_div li.on{
    font-size:45px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset : 10px;
}

.news_div li.hide{
    display: none;
}
.news_div .bigft{
    margin-bottom:50px;
    font-weight: 700;
}
.news_div{
    width: 100%;
    /* overflow: hidden; */
    height: 500px;
}

.searchstore_sec{
    background: #27273E;
    color:white;
    height:120px;
}
.searchstore_sec .inner_contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.searchstore_sec .inner_contents>p:nth-of-type(1){
    padding-left: 45px;
    font-size:25px;
    background: url("../img/store.svg") no-repeat 0% 50% / contain;
}
.searchstore_sec .inner_contents>p:nth-of-type(2){
    color: rgba(255, 255, 255, 0.7);
    font-size:20px;
    width: 400px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 5px;}
#search{
    font-size: 20px;
    border: none;
    width: 90%;
    background: transparent;
}
#search::placeholder{
    color:white;
    font-family: "Noto Sans KR", sans-serif;
}
#search:focus{
    color:white
}
.foot_sec{
    padding-top: 70px;
    background: #13131F;
    color:white;
    width: 100%;
    padding-bottom: 70px;
}
.foot_sec_top{
    height: 80px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-bottom:100px;
}
.foot_sec_top>ul{
    display: flex;
    flex-wrap: wrap;
    width: 870px;
    height: 100%;
}
/* #family_site{
    color: white;
    background: transparent;
    border: 1px solid white;
} */
.foot_sec_top>ul>li{
    padding: 0 15px;
}
.foot_sec_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot_sec_bottom_div{
    font-size: 16px;
    color:#828285;
    display: flex;
    width: 850px;
    flex-wrap: wrap;
}
.foot_sec_bottom_div>*{
    padding-right:5px;
}






/* 스크롤 이벤트 */
.down_to_up_event{
    opacity: 0;
    transition: all 1s ease 0s;
    transform: translateY(50px);
}

.down_to_up_event.on{
    opacity: 1;
    transform: translate(0);
}


.down_to_up_event_sub{
    opacity: 0;
    transition: all 1s ease 0.2s;
    transform: translateY(50px);
}

.down_to_up_event_sub.on{
    opacity: 1;
    transform: translate(0);
}


.news_station.down_to_up_event_sub{
    opacity: 0;
    transition: all 1s ease 0.3s;
    transform: translateY(50px);
}


.news_station.down_to_up_event_sub.on{
    opacity: 1;
    transform: translate(0);
}



}
